# This is Git's per-user configuration file.
[user]
	name = mitch
[color]
	ui = auto
[alias]
	alias = "! git config --get-regexp ^alias\\. | sed -e 's/^alias\\.//' -e 's/\\ /\\ =\\ /'"
	amend = commit --amend --no-edit
	oust = rm --cached
	unstage = reset HEAD --
	brief = show -s --oneline
	last = log -1 HEAD
	logg = log --graph --pretty=short --all --abbrev-commit --oneline --decorate
	combine = "!: pull && f() { git checkout ${2} && git merge ${1}/${2}; }; f"
	stash-apply-file = "!f() { git diff stash@{0} -- $1 | git apply -R; }; f"
	rebase-multiple = "!: rebase && git-rebase-multiple"
	wipe-remote-branch = "!: branch && f() { git branch -dr $(git branch -rl *${1}*); }; f"
[init]
	defaultBranch = main
[log]
	date = local
[merge]
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	updateRefs = true
[interactive]
	diffFilter = diff-highlight
[pager]
	diff = diff-highlight | less
	# Add a newline to the Git log pager to account for the two-line prompt
	log = "(printf '\n'; diff-highlight) | less"
	show = diff-highlight | less
[lfs]
	cachecredentials = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
