# This is Git's per-user configuration file.
[user]
	name = mitch
[color]
	ui = auto
[alias]
	amend = commit --amend --no-edit
	oust = rm --cached
	unstage = reset HEAD --
	brief = show -s --oneline
	last = log -1 HEAD
	logg = log --graph --pretty=short --all --abbrev-commit --oneline --decorate
	stash-apply-file = "!f() { git diff stash@{0} -- $1 | git apply -R; }; f"
	rebase-multiple = "!: rebase && git-rebase-multiple"
[init]
	defaultBranch = main
[log]
	date = local
[merge]
	tool = vimdiff
	conflictstyle = diff3
[lfs]
	cachecredentials = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
